adf/pipeline/copy_rest_pl.json
{
	"name": "copy_rest_pl",
	"properties": {
		"activities": [
			{
				"name": "Web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://geekskeyvlt.vault.azure.net/secrets/geeksrestapi/fc5115f631324e0a8a15a06730e320e5?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "copy rest data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['response']"
								},
								"sink": {
									"path": "$['response']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "geeks_rest_ds",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@activity('Web').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "geeks_rest_api_json_ds",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@concat('airlines/date_', formatDateTime(utcNow(), 'yyyy-MM-dd'), '/airlines.json')",
								"type": "Expression"
							},
							"container": "raw"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-07-03T14:12:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}