adf/pipeline/copy_datalake_pl.json
{
	"name": "copy_datalake_pl",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "geeks_sink_json_ds",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "Table_Source_Datalake.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition",
							"description": "check the file type is csv or not",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().File_name_source, 'csv')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "copy_data_binary_zip",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings",
														"preserveZipFileNameAsFolder": false
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "flights_binary_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_source",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().File_name_source",
														"type": "Expression"
													},
													"directory": {
														"value": "@item().directory_source",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "flights_binary_sink_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_sink",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().File_name_sink",
														"type": "Expression"
													},
													"directory": {
														"value": "@concat(item().directory_sink, '/date_', formatDateTime(utcNow(), 'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "copy_data_csv",
										"description": "copy data from \"geekadlsstorage, \"geekblobstorage\" to \"geekadlsstoragesink\"\n",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "geeks_adls_csv_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_source",
														"type": "Expression"
													},
													"directory": {
														"value": "@item().directory_source",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().File_name_source",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "geeks_adls_sink_csv_ds",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_sink",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().File_name_sink",
														"type": "Expression"
													},
													"directory": {
														"value": "@split(item().File_name_source, '.')[0]",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"hi": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-03T14:14:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}