adf/pipeline/databricks.json
{
	"name": "databricks",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "geeks_sink_json_ds",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "pipeline.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"variableName": "name",
								"value": {
									"value": "@item().zone",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Notebook",
				"type": "DatabricksNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/surekhatippa18@gmail.com/geeks/geeksdatabricks/geeks_run_notebook",
					"baseParameters": {
						"zone": {
							"value": "@item().zone",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "geeks_adb_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}